
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">	
  <title>Unamused Face: AI Bot</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<div id="wrapper">
	<form id="paper" class="" action="/" method="post">
		<div id="margin">Ask a question: <input id="blogExpander" type="text" name="blogExpander" placeholder="Write here...";>
		<input type="hidden" name="form4" value="form4">
    <input id="button" type="submit" value="Generate"></div>
	</form>
  <div>
    <p id="text" name="text" rows="4" style="overflow: visible; word-wrap: break-word; resize: both; ">{{blogExpanded|safe}}</p>  
  </div>
</div>
<!-- partial -->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://static.tumblr.com/maopbtg/oimmiw86r/jquery.autosize-min.js'></script><script  src="./script.js"></script>
</body>
</html>
